@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Gloock&family=Herr+Von+Muellerhoff&family=Jost:wght@100;200;300;400&family=Montserrat:wght@100;200;300;400&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Gloock', serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --primary-color: #1a191b;
    --main-color: rgba(255, 196, 0, 0.76);
    --back-color:#191a19;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .3s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

body {
    background: black;
}

/* ===================================== */
.box1{
    background-image: url(image-33.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box1 .heading1{
    margin-top: 100px;
}
.box{
    padding: 20px;
}
.about{
    width: 100%;
    height: auto;
    padding: 0;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px ,1fr));
    gap: 0;
}
.about-box{
    height: auto;
    padding: 100px;
}
.about-box1{
    padding: 0;
    background-image: url(image-24.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-box2 h3{
    color: #fff;
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
.about-box2 h1{
    color: #fff;
    font-family: 'Jost', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    padding: 20px 0;
    text-align: center;
}
.about-box2 p{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 30px;
    padding-top: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#video-background {
    width: 100%;
    height: 100%;
    background-image: url(image-35.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-box3{
    width: 100%;
    height: 100%;
    background-image: url(image-26.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}















